@charset "UTF-8";
.body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.home {
  background: url("../img/bg/bg_start.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e76161;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 10px;
  position: relative;
  z-index: 3;
}

.header__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-right: 35px;
}

.header__link:hover {
  color: #377fc3;
  cursor: pointer;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.home__text {
  color: #ffffff;
  text-align: center;
  padding: 263px 0 263px 0;
}

.home__text-top {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__text-under {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-transform: capitalize;
  margin: 35px 0 50px 0;
}

.home__button-href {
  font-family: "Montserrat", sans-serif;
  padding: 25px 70px;
  font-size: 16px;
  border: 3px solid #ffffff;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.home__button-href:hover {
  border: 3px solid #377fc3;
  color: #377fc3;
}

@media (max-width: 1000px) {
  .header__body {
    justify-content: center;
  }

  .header__logo {
    display: none;
  }
}
@media (max-width: 730px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #000000;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }
}
.services {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.services__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin-top: 99px;
}

.services__undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  margin-top: 60px;
}

.services__row-all {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.services__row {
  margin-top: 70px;
  width: 347px;
  width: 33, 3333%;
  margin-left: auto;
  margin-right: auto;
}

.services__row-img {
  display: block;
  margin: 0 auto;
}

.services__row-title {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  text-transform: uppercase;
  margin: 29px 0 24px 0;
}

.services__row-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.about {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin: 0px 0 60px 0;
  text-align: center;
  padding-top: 100px;
}

.about__undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  text-align: center;
}

.about__text {
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  margin: 70px 0;
}

.about__row-all {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 100px;
}

.about__row {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.about__row-img {
  transition: 1s;
}

.about__row-img:hover {
  transform: scale(1.09);
}

.about__row-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin-top: 30px;
}

.about__row-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

@media (max-width: 1129px) {
  .about__row-undertitle {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about__text {
    display: block;
    margin: 70px 40px;
  }

  .about__text-right {
    margin-top: 40px;
  }

  .about__row-all {
    display: block;
  }

  .about__row {
    width: auto;
  }
}
.works {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.works__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin: 0px 0 60px 0;
  text-align: center;
  padding-top: 100px;
}

.works__undertitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works__undertitle-name {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  padding: 0px 30px 70px 30px;
}

.works__undertitle-name:hover {
  color: #c0301c;
  cursor: pointer;
}

.works__gallerey {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.works__gallerey-img {
  display: block;
  height: auto;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}

.works__gallerey-img:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}

.works__bg {
  background: url("../img/bg/bg_end.jpg") center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
}

.works__bg-text {
  text-align: center;
}

.works__bg-title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}

.works__bg-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}

.works__bg-link {
  font-family: "Montserrat", sans-serif;
  padding: 25px 70px;
  font-size: 16px;
  border: 3px solid #ffffff;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.works__bg-link:hover {
  border: 3px solid #377fc3;
  color: #377fc3;
}

@media (max-width: 382px) {
  .works__gallerey-img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.blog__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  padding: 95px 0 55px 0;
}

.blog__title-undertitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  text-align: center;
  margin-bottom: 70px;
}

.blog__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.blog__row-left {
  padding-right: 35px;
}

.blog__row-right {
  max-width: 640px;
}

.blog__row-right-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0301c;
}

.blog__row-right-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #777777;
}

.blog__row-right-text {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  padding-top: 23px;
}

.a {
  display: flex;
  flex-wrap: wrap;
}

.b {
  display: block;
  padding-left: 25px;
}

@media (max-width: 1108px) {
  .blog__row {
    display: block;
    text-align: center;
  }

  .blog__row-left {
    padding-right: 0;
  }

  .blog__row-right {
    margin-left: auto;
    margin-right: auto;
  }

  .a {
    display: block;
    margin-top: 25px;
  }
}
@media (max-width: 527px) {
  .blog__row-img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.clients {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clients__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px;
}

.clients__logo-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.clients__text {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  color: #555555;
  text-align: center;
  max-width: 765px;
  margin-left: auto;
  margin-right: auto;
}

.clients__name {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #555555;
  text-align: center;
  max-width: 765px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  padding-bottom: 150px;
}

@media (max-width: 853px) {
  .clients__logo {
    display: block;
    padding: 80px 20px;
  }

  .clients__logo-img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.contact__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  padding: 100px 0 60px 0;
}

.contact__undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  text-align: center;
  padding-bottom: 70px;
}

.contact__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contact__row-left {
  max-width: 235px;
}

.contact__row-left-all {
  display: flex;
  align-items: flex-start;
  margin: 30px 0;
}

.contact__row-left-img {
  display: flex;
  flex-wrap: wrap;
}

.contact__row-img {
  display: block;
  width: 100%;
  height: auto;
}

.contact__row-left-text {
  display: block;
  padding-left: 25px;
}

.contact__row-left-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
}

.contact__row-left-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #555555;
}

.conact__form {
  display: flex;
  flex-wrap: wrap;
  max-width: 735px;
}

.name {
  width: 350px;
  height: 44px;
  padding: 20px;
  border: 1px solid #555555;
  text-transform: uppercase;
}

.name:nth-child(1) {
  margin-right: auto;
}

.name:nth-child(3) {
  margin-right: auto;
  margin-top: 20px;
}

.name:nth-child(4) {
  margin-top: 20px;
}

.name:hover {
  border: 1px solid #c0301c;
}

.name__message {
  width: 730px;
  height: 104px;
  padding: 0 0 70px 10px;
  text-transform: uppercase;
  border: 1px solid #555555;
  margin: 20px 0 0 0;
}

.name__message:hover {
  border: 1px solid #c0301c;
}

.send {
  width: 170px;
  height: 44px;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #555555;
  margin: 20px auto 0 0;
}

.send:hover {
  border: 1px solid #c0301c;
  color: #c0301c;
}

/* Footer */
.footer {
  background-color: #c0301c;
}

.footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 100px 0px 0 0px;
  margin: 0 10px;
}

.footer__logo-img {
  margin: 0 10px;
}

.footer__text {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 60px 0 100px 0;
}

@media (max-width: 1178px) {
  .contact__row {
    display: block;
  }

  .contact__row-left {
    margin-left: auto;
    margin-right: auto;
  }

  .conact__form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 750px) {
  .conact__form {
    display: block;
  }

  .content__name {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .name:nth-child(4) {
    margin-top: 20px;
  }

  .name {
    margin-top: 20px;
  }

  .name__message {
    display: block;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .send {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 520px) {
  .content__name {
    text-align: center;
  }

  .name {
    display: block;
    width: 318px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }

  .name:nth-child(2) {
    margin-top: 20px;
  }

  .name__message {
    width: 318px;
  }
}
@media (max-width: 350px) {
  .content__name {
    width: auto;
  }

  .name:nth-child(1) {
    margin-right: 0;
    margin-left: 0;
  }

  .name:nth-child(2) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .name:nth-child(3) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .name:nth-child(4) {
    margin-right: 0;
    margin-left: 0;
  }
}