.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.contact__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  padding: 100px 0 60px 0;
}
.contact__undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  text-align: center;
  padding-bottom: 70px;
}
.contact__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.contact__row-left {
  max-width: 235px;
}
.contact__row-left-all {
  display: flex;
  align-items: flex-start;
  margin: 30px 0;
}
.contact__row-left-img {
  display: flex;
  flex-wrap: wrap;
}
.contact__row-img {
  display: block;
  width: 100%;
  height: auto;
}
.contact__row-left-text {
  display: block;
  padding-left: 25px;
}
.contact__row-left-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
}
.contact__row-left-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #555555;
}
.conact__form {
  display: flex;
  flex-wrap: wrap;
  max-width: 735px;
}
.name {
  width: 350px;
  height: 44px;
  padding: 20px;
  border: 1px solid #555555;
  text-transform: uppercase;
}
.name:nth-child(1) {
  margin-right: auto;
}
.name:nth-child(3) {
  margin-right: auto;
  margin-top: 20px;
}
.name:nth-child(4) {
  margin-top: 20px;
}
.name:hover {
  border: 1px solid #c0301c;
}
.name__message {
  width: 730px;
  height: 104px;
  padding: 0 0 70px 10px;
  text-transform: uppercase;
  border: 1px solid #555555;
  margin: 20px 0 0 0;
}
.name__message:hover {
  border: 1px solid #c0301c;
}
.send {
  width: 170px;
  height: 44px;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #555555;
  margin: 20px auto 0 0;
}
.send:hover {
  border: 1px solid #c0301c;
  color: #c0301c;
}
/////////////
/* Footer */
/////////////
.footer {
  background-color: #c0301c;
}
.footer__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 100px 0px 0 0px;
  margin: 0 10px;
}
.footer__logo-img {
  margin: 0 10px;
}
.footer__text {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 60px 0 100px 0;
}
@media (max-width: 1178px) {
  .contact__row {
    display: block;
  }
  .contact__row-left {
    margin-left: auto;
    margin-right: auto;
  }
  .conact__form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 750px) {
  .conact__form {
    display: block;
  }
  .content__name {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .name:nth-child(4) {
    margin-top: 20px;
  }
  .name {
    margin-top: 20px;
  }
  .name__message {
    display: block;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .send {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 520px) {
  .content__name {
    text-align: center;
  }
  .name {
    display: block;
    width: 318px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }
  .name:nth-child(2) {
    margin-top: 20px;
  }
  .name__message {
    width: 318px;
  }
}
@media (max-width: 350px) {
  .content__name {
    width: auto;
  }
  .name:nth-child(1) {
    margin-right: 0;
    margin-left: 0;
  }
  .name:nth-child(2) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
  .name:nth-child(3) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
  .name:nth-child(4) {
    margin-right: 0;
    margin-left: 0;
  }
}
