.body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Slab", serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

@import "nullstyle.scss";
@import "home.scss";
@import "services.scss";
@import "about.scss";
@import "works.scss";
@import "blog.scss";
@import "clients.scss";
@import "contact.scss";
