.works {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.works__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin: 0px 0 60px 0;
  text-align: center;
  padding-top: 100px;
}
.works__undertitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works__undertitle-name {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  padding: 0px 30px 70px 30px;
}
.works__undertitle-name:hover {
  color: #c0301c;
  cursor: pointer;
}
.works__gallerey {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.works__gallerey-img {
  display: block;
  height: auto;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}
.works__gallerey-img:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}
.works__bg {
  background: url("../img/bg/bg_end.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
}
.works__bg-text {
  text-align: center;
}
.works__bg-title {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}
.works__bg-undertitle {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}
.works__bg-link {
  font-family: "Montserrat", sans-serif;
  padding: 25px 70px;
  font-size: 16px;
  border: 3px solid #ffffff;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.works__bg-link:hover {
  border: 3px solid #377fc3;
  color: #377fc3;
}
@media (max-width: 382px) {
  .works__gallerey-img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
